<!DOCTYPE html>
<html>
  <head>
    <title>RailsStimulus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_bundle_tag %>
    <%= javascript_bundle_tag %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
